config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../rt-thread"

config ASROOT
    string
    option env="ASROOT"
    default "../../../../../../.."
source "$ASROOT/com/as.infrastructure/system/kernel/rtthread/rt-thread/Kconfig"
source "$ASROOT/com/as.infrastructure/system/kernel/rtthread/menuconfig/aspkgs/Kconfig"

config HAVE_SYS_SELECT_H
    bool "Compiler has sys/select.h"
    default y

