source "$ASROOT/com/as.infrastructure/arch/Kconfig"
source "$ASROOT/com/as.infrastructure/communication/Kconfig"
source "$ASROOT/com/as.infrastructure/diagnostic/Kconfig"
source "$ASROOT/com/as.infrastructure/memory/Kconfig"
source "$ASROOT/com/as.infrastructure/system/Kconfig"
source "$ASROOT/com/as.infrastructure/clib/Kconfig"
source "$ASROOT/com/as.infrastructure/libraries/Kconfig"
