config ARCH_AT91SAM3S
    bool
    default y
    select DEFAULT_TOPPERS_OSEK

config ARCH
    string
    default "at91sam3s"

config DEMO_LED_APP
	bool "demo led application"
	default y

config USB_SERIAL
	bool "demo USB on serial application"
	default y
	depends on USB
	select RINGBUFFER
