config ARCH_STM31F1
    bool
    default y
    select DEFAULT_ASKAR

config DEMO_LED_APP
	bool "demo led application"
	default y
	depends on DIO

config ARCH
    string
    default "stm32f1"

config USB_SERIAL
	bool "demo USB on serial application"
	default y
	depends on USB